/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
}

/* Utilities */
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.padding {
  padding: 2rem 0;
}

/* HEADER */
.header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0084FD;
}

.header a{
  text-decoration: none;
  color: inherit;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 50%;
}

.list-header {
  width: 50%;
}

.list-desktop {
  width: 50%;
  display: none;
  list-style-type: none;
}

/* TABLET MEDIA:768px */
@media screen and (min-width:768px) {
  
}

/* DESKTOP MEDIA: 992px */
@media screen and (min-width:992px) {
  .container{
    width: 65%;
  }

  .list-header {
    display: none;
  }

  .list-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* debug */
    background-color: gray;
    border: 1px solid black;
  }
}

/* DEMO-SECTION */
#demo {
  margin-top:80px;
}

.demo-col {
  width: 100%;
  border-radius: 2rem;
   /* debug */
  min-height: 200px;
  background-color: lightblue;
  border: 1px solid black;
}

.demo-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.row-demo-col {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  
}

.inside-demo-col {
  width: 100%;
  min-height: 100px;
  /* debug */
  background-color: orange;
  border: 1px solid black;
  border-radius: 2rem;
}

/* TABLET MEDIA:768px */
@media screen and (min-width:768px) {
  .demo-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .demo-col{
    width:calc((100% / 3) - (2 * 1rem / 3));
  }

  .demo-col:first-child {
    width:calc(2 * ((100% / 3) - (2 * 1rem / 3)) + 1rem);
  }
}

/* DESKTOP MEDIA: 992px */
@media screen and (min-width:992px) {
  .row-demo-col {
    flex-direction: row;
  }

  .inside-demo-col {
    width: 50%;
  }
}

/* STRATEGIC PLANNING SECTION */
#s-planning {
  background-color: #9792E4;
  /* debug */
  min-height: 500px;
}

.s-p-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.s-p-col {
  width: 100%;
  
  /* debug */
  min-height: 250px;
  background-color: gray;
}

/* DESKTOP MEDIA: 992px */
@media screen and (min-width:992px) {
 .s-p-row {
  flex-direction: row;
 }

 .s-p-col{
  width: 50%;
  /* debug */
  height: 500px;
 }
}

/* TESTIMONIALS SECTION */
#testimonials {
  padding: 3rem 0;
  /* debug */
  min-height: 500px;
}

.testimonials-row {
  display: flex;
  flex-direction: column;
}

.t-col {
  width: 100%;
  margin: 1rem 0;
  /* debug */
  min-height: 150px;
  background-color: gray;
}

.t-col-bg{
  background-color: #9792E4;
}

/* BENEFIT SECTION */
#benefit {
  padding: 2rem 0;
  background-color: #9792E4;

  /* debug */
  min-height: 500px;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.b-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.b-col {
  margin-bottom: 1rem;
  width: 100%;
  /* debug */
  min-height: 200px;
  background-color: gray;
}

/* TABLET MEDIA:768px */
@media screen and (min-width:768px) {
  .b-row {
    gap: 1rem;
  }
  
  .b-col {
    width: calc(100% / 2 - 1rem / 2);
  }
}

/* DESKTOP MEDIA: 992px */
@media screen and (min-width:992px) {
  .b-col {
    width: calc(100% / 3 - 1rem * 2 / 3);
  }
}

/* ABOUT US SECTION */
#about-us {
  padding: 2rem 0;
  /* debug */
  min-height: 500px;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
}

.about-col {
  width: 100%;
  margin-bottom: 1rem;
  /* debug */
  min-height: 400px;
  background-color: gray;
}

/* TABLET MEDIA:768px */
@media screen and (min-width:768px) {
  .about-row {
    justify-content: space-between;
  }

  .about-col{
    width: calc(97% / 2);
  }
}

/* TRY SECTION */
#free-trial {
  padding: 2rem 0;
  background-color: #9792E4;
  /* debug */
  min-height: 500px;
}

.content {
  /* debug */
  min-height: 500px;
  background-color: gray;
}

/* FOOTER */
footer{
  height: 6rem;
  padding: 1rem 0;
  background-color: #333333;
}

.content-footer {

  /* debug */
  height: 4rem;
  background-color: gray;
}